@import 'fonts.scss';

*,
* a {
  font-family: 'Roboto', 'Helvetica', 'Arial', 'sans-serif';
  text-decoration: none;
  color: #01161e;
}

html {
  scroll-behavior: smooth;
}

.offscreen {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.bg-hero {
  background: linear-gradient( 180deg, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0,
  0, 0.6) 75%),
  url('https://images.unsplash.com/photo-1501159599894-155982264a55?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80')
    50% 70% / cover no-repeat;
  z-index: -1;
}

.blur {
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  z-index: 99;
}

@supports (-webkit-backdrop-filter: blur(2px)) or (backdrop-filter: blur(2px)) {
  .blur {
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
  }
}

header,
nav,
main,
footer {
  width: 100%;
  height: 100%;

  .container {
    max-width: 77rem;
    margin: auto;
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

header {
  width: 100%;
  height: 100%;

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 3rem;

    .welcome {
      display: flex;
      align-items: center;
      padding: 0.1rem 1.5rem 0.1rem 0.1rem;
      background-color: #f2efea;
      border-radius: 50px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

      .profile-pic {
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 100%;
        margin-right: 1rem;
      }

      .hello {
      font-family: 'Permanent Marker', 'sans-serif';
      font-size: 1.5rem;
      }
    }

    .menu {
      font-size: 1.3rem;
      font-weight: 700;

      .projects {
        margin-left: 1rem;
        margin-right: 0.5rem;
      }
      .solutions {
        margin-left: 0.5rem;
        margin-right: 1rem;
      }
    }

    .social {
      display: flex;
      flex-direction: row;

      .icon {
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 1rem;
      }
    }
  }

  .hero {
    text-shadow: 0 1px 1px #313e50;

    .title {
      font-weight: 700;
      font-size: 3rem;
      color: #f2efea;
      margin-top: 8rem;

      .name {
        font-family: 'Permanent Marker', 'sans-serif';
        font-size: 3.5rem;
        font-weight: 400;
        text-shadow: none;
      }
    }

    hr {
      border-bottom: 0.3rem solid #f2efea;
      width: 9rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    .description {
      font-size: 1.8rem;
      margin-bottom: 1rem;
      color: #f2efea;

      .web-development {
        font-family: 'Permanent Marker', 'sans-serif';
        color: #f7ec59;
      }
    }

    .open-to-work {
      font-size: 1.5rem;
      font-weight: 300;
      margin-bottom: 6rem;
      color: #e6e8e6;
    }


    .info {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;

      .email {
        padding: 0.8rem 1.5rem;
        background-color: #f2efea;
        border-radius: 50px;
        margin-right: 1rem;
        text-shadow: none;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
      }

      .mobile {
        color: #f2efea;
      }
    }

    .availability {
      font-size: 1rem;
      color: #f2efea;
      padding-bottom: 6rem;

      .available {
        color: #37ff8b;
        margin-right: 1rem;
      }
    }
  }
}

nav {
}


main {
  .about-me {

  }
}

@media only screen and (max-width: 992px) {
  header,
  nav,
  main,
  footer {
    .container {
      padding-left: 5rem;
      padding-right: 5rem;
    }
  }

  header {
    .hero {
      .title {
        font-size: 2.3rem;
        margin-top: 7rem;

        .name {
          font-size: 2.7rem;
        }
      }

      .description {
        font-size: 1.4rem;
      }

      .open-to-work {
        font-size: 1.3rem;
        margin-bottom: 5rem;
      }
      .availability {
        padding-bottom: 5rem;
      }
    }
  }

  nav {
  }

  main {
    .about-me {

    }
  }
}

@media only screen and (max-width: 768px) {
  header,
  nav,
  main,
  footer {
    .container {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }

  header {
    .hero {
      .title {
        font-size: 1.8rem;
        margin-top: 6rem;

        .name {
          font-size: 2.1rem;
        }
      }

      .description {
        font-size: 1.1rem;
      }

      .open-to-work {
        font-size: 1.3rem;
        margin-bottom: 5rem;
      }
      .availability {
        padding-bottom: 5rem;
      }
    }
  }

  nav {
  }

  main {
    .about-me {

    }
  }
}
